<div class="banner mb-5" style="background: linear-gradient(270deg, #007D6E 0%, #5EB47C 100%)">
  <div class="container">
    <div style="border-left: 3px solid white;
          padding-left: 30px;
          margin-left: 60px;">
      <h1>About us</h1>
    </div>
  </div>
</div>

<div class="container">
  <p class="text-center green-text-little mb-5" style="color: #0E8571;">TalkRoom has been created by a group of tech enthusiasts who<br> live around the world. We aspire to make a difference, one patient<br>at a time!</p>
  <p class="text-center text-with-size-h4 mb-5" style="color: #078170;">Meet the team!</p>
  <div class="row">
    <div class="col-6">
      <%= image_tag "Pedro.png", class:"aboutus-card mt-2"%>
    </div>
    <div class="col-6 align-content-center justify-content-center">
      <p class="body-light-text aboutus-border">Pedro has a passion for plants</p>
    </div>
  </div>
  <div class="row">
    <div class="col-6 align-content-center justify-content-center">
      <p class="body-light-text aboutus-border">Also known as 'the madre'</p>
    </div>

    <div class="col-6">
      <%= image_tag "Municki.png", class:"aboutus-card mt-2"%>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <%= image_tag "Luiz.png", class:"aboutus-card mt-2"%>
    </div>

    <div class="col-6 align-content-center justify-content-center">
      <p class="body-light-text aboutus-border">Better coffee drinker than coder</p>
    </div>
  </div>
  <div class="row">
    <div class="col-6 align-content-center justify-content-center">
    <p class="body-light-text aboutus-border">Apparently he invented ChatGPT</p>
    </div>
    <div class="col-6">
      <%= image_tag "Eemon.png", class:"aboutus-card mt-2"%>
    </div>
  </div>
</div>
