<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <h1 class="mb-4">About Us</h1>
      <p>Welcome to TalkRoom, platform dedicated to providing accessible mental health support to individuals around the world. Our mission is both simple and profound: to connect people with free counseling services by matching them with psychology students gaining practical experience in their field.</p>
      <p>At TalkRoom, we believe that everyone deserves access to mental health care, regardless of their financial situation. By bridging the gap between those seeking support and psychology students, we ensure compassionate care while nurturing future professionals.</p>
      <p>Through supervised sessions, our student counsellors offer empathetic guidance under the mentorship of licensed professionals, fostering personal growth and improved well-being.</p>
      <p>Join us in creating a supportive community where individuals receive the help they need, and future mental health professionals thrive.</p>
    </div>
    <div class="col-md-6">
      <div class="image" style="background-image: url('<%= asset_path('logo-2.png') %>'); background-size: cover; background-position: center; height: 400px;"></div>
    </div>
  </div>
</div>
