<div class="container text-center py-4">
  <h1>Choose what type of user you are:</h1>
  <div class="d-flex justify-content-between py-4">
  <%= link_to 'Pacient sign up', new_user_registration_path, class:"btn btn-success" %>
  <%= link_to 'Counsellor sign up', new_counsellor_registration_path, class:"btn btn-success" %>
  <%= link_to 'Supervisor sign up', new_supervisor_registration_path, class:"btn btn-success" %>
</div>
</div>
