<div class="banner mb-5" style="background: linear-gradient(270deg, #007D6E 0%, #5EB47C 100%)">
  <div class="container">
    <div style="border-left: 3px solid white;
          padding-left: 30px;
          margin-left: 60px;">
      <h1>Why TalkRoom?</h1>
      <p class="mt-3">Our platform recruits the finest students from globally acclaimed universities, thus providing you methodologies updated with modern industry standards, and a touch of relatibility.</p>
    </div>
  </div>
</div>

<div class="d-flex mb-5" style="width: 90%;">
  <!-- Left Text -->
  <div class="d-flex flex-column justify-content-center px-5" style="width: 322px;">
    <p class="text-with-size-h6">Testimonials</p>
    <p class="text-with-size-h5">Healing words<br> from a few of our<br> users </p>
  </div>
  <!-- Card -->
  <div class="middle-card p-3 mx-auto">
    <div class="inside-middle-card">
      <%= image_tag "male_avatar.png", loading: 'lazy', class: 'rounded-circle' %>
        <p class="body-light-text" style="color: var(--txt, #FFF);">
          By working with real patients, our student counsellors gain the
          hands-on experience they need to grow and excel in their future
          careers.
        </p>
      <p class="text-with-size-h4" style="color: var(--txt, #FFF);">Victor Abdalla - Client</p>
    </div>
  </div>
</div>

<div class="d-flex mb-5" style="width: 90%;">
  <!-- Left Text -->
  <div class="d-flex flex-column justify-content-center px-5" style="width: 322px;">
    <p class="text-with-size-h5">We cant wait to put you on here!</p>
  </div>
  <!-- Card -->
  <div class="middle-card p-3 mx-auto">
    <div class="inside-middle-card">
      <%= image_tag "male_avatar.png", loading: 'lazy', class: 'rounded-circle' %>
          <p class="body-light-text" style="color: var(--txt, #FFF);">
            By working with real patients, our student counsellors gain the
            hands-on experience they need to grow and excel in their future
            careers.
          </p>
        <p class="text-with-size-h4" style="color: var(--txt, #FFF); font-size: 34px;">Leo Cotello - Client</p>
    </div>
  </div>

</div>
