<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <h1 class="mb-4">Why TalkRoom?</h1>
      <p>At TalkRoom, we are committed to revolutionizing access to mental health support worldwide. Our platform bridges the gap between individuals seeking counseling and psychology students eager to apply their knowledge.</p>
      <p>Here’s why TalkRoom stands out:</p>
      <ul>
        <li><strong>Accessibility:</strong> Mental health care should be available to everyone. We break down financial barriers to ensure that help is within reach for those who need it most.</li>
        <li><strong>Quality and Supervision:</strong> Although our counselors are students, they are committed to providing high-quality care. They are guided by licensed psychologists who oversee their work, ensuring that clients receive effective and professional support.</li>
        <li><strong>Global Reach:</strong> No matter where you are in the world, TalkRoom is here to help. Our online platform allows us to connect clients and counselors across different time zones and geographical locations.</li>
        <li><strong>Community and Support:</strong> At TalkRoom, we foster a community of support and growth. Clients receive the help they need, while student counselors learn and develop in a real-world setting. This community-focused approach creates a supportive environment for all involved.</li>
      </ul>
    </div>
    <div class="col-md-6  mt-5 mb-5 text-center">
      <div class="image md-6" style="background-image: url('<%= asset_path('image2.png') %>'); background-size: cover; background-position: right center; height: 400px;"></div>
    </div>
  </div>
</div>
