.btn {
  background-color: #f0f4f1;
  color: #28697E;
  box-shadow:  0px 8px 16px #28697E;
  font-family: "Alegreya", serif;
  margin-bottom: 50px;
}

.btn:hover {
  background-color: darken(#f0f4f1, 10%);
}

// .btn.btn-prim {
//   background-color: #f0f4f1;
//   color: #28697E;
//   box-shadow:  0px 8px 16px #28697E;
//   font-family: "Alegreya", serif;
//   margin-bottom: 50px;
// }

// .btn.btn-prim:hover {
//   background-color: darken(#f0f4f1, 10%);
// }
