.buttons .btn {
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 20px;
  margin: 20px;
  font-family: "Alegreya", serif;

  &-pri {
    background-color: #f0f4f1;
    color: #287a26;
    box-shadow:  0px 8px 16px #287a26;
    font-family: "Alegreya", serif;
    margin-bottom: 50px;

    &:hover {
      background-color: darken(#f0f4f1, 10%);
    }
  }

  &-sec {
    background-color: #f0f4f1;
    color: #287a26;
    box-shadow:  0px 8px 16px #287a26;
    font-family: "Alegreya", serif;
    margin-bottom: 50px;

    &:hover {
      background-color: darken(#f0f4f1, 10%);
    }
  }
}
