.card-profile {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  flex: 1;
  max-width: 1200px;
  margin: 0 auto;
}
.col-md-4 {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  flex: 1;
  max-width: 500px;
  margin: 0 auto;
}

.col-md-8 {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  flex: 1;
  max-width: 1200px;
  margin: 0 auto;
}
  .card-body {
    text-align: left;
    padding: 2rem;


    .h2 {
      font-size: 2.5rem;
      color: #333;
      margin-bottom: 2rem;
      text-align: center;
      font-family: "Alegreya", serif;
      color: #28697E;
    }

    p {
      font-size: 1.2rem;
      color: #666;
      margin-bottom: 1rem;
      font-family: "Alegreya", serif;
      color: #28697E;

      strong {
        font-weight: bold;
      }
    }

    .btn-change-password {
    background-color: #f0f4f1;
    color: #28697E;
    box-shadow:  0px 8px 16px #28697E;
    font-family: "Alegreya", serif;
    margin-bottom: 50px;
    }

    .wrap {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    body, html {
      height: 100%;
      margin: 0;
      padding: 0;
      font-family: "Alegreya", serif;
      color: #28697E;
    }


    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
  }
