.cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: -300px;
  bottom: -50px;

}

.hero2 {
  font-family: "Alegreya", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  color: #28697E;
  font-size: 4rem;
  top: 100px;
  margin-left: 150px;
}

h1 {
  font-family: "Alegreya", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  color: #28697E;
  font-size: 3rem;
  top: 100px;
  margin-left: 150px;
}

h2 {
  font-family: "Alegreya", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  color: #28697E;
  font-size: 2rem;
  top: 100px;
  margin-left: 150px;
}

p {
  font-family: "Alegreya", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  color: #28697E;
  font-size: 1rem;
  top: 100px;
  margin-left: 150px;
}

.map-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  bottom: 50px;
}

#map {
  width: 600px;
  height: 600px;
}
