.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.hero {
  background-color: #f0f4f1;
  color: #28697E;
  font-family: "Alegreya", serif;
  padding: 50px 0;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;

  .hero-content {
    display: flex;
    align-items: center;
    font-family: "Alegreya", serif;
    margin-right: 1rem;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;

  }

  .left-side {
    max-width: 50%;
    position: relative;
    top: -80px;
  }

  .right-side .hero-logo {
    max-width: 100%;
  }

  h1 {
    font-size: 4rem;
    margin-bottom: 30px;
    font-family: "Alegreya", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  .subtitle {
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-family: "Alegreya", serif;
  }

  .phrase {
    font-size: 2rem;
    margin-bottom: 40px;
    font-family: "Alegreya", serif;
    margin-left: 20px;
  }
}
