/* styles.css */

.Image9 {
  width: 90px;
  height: 45.51px;
  left: 1102px;
  top: 4533.33px;
  position: absolute;
  mix-blend-mode: color-burn;
}

.Istockphoto2155114929640AdppIs1 {
  width: 1500px;
  height: 843.75px;
  left: 205px;
  top: 9471px;
  position: absolute;
}

.HowDoesItWork {
  left: 835px;
  top: 83px;
  position: absolute;
  color: #1A1A1A;
  font-size: 18px;
  font-family: Poppins, sans-serif; /* Adicionei uma fonte alternativa caso Poppins não esteja disponível */
  font-weight: 400;
  word-wrap: break-word;
}
