.navbar {
  background-color: #f0f4f1;
  box-shadow: 0px 8px 16px #28697E;
  // position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;

  .nav-link {
    color: #28697E;
    font-family: "Alegreya", serif;

    &:hover {
      color: darken(#28697E, 10%);
    }
  }

  .navbar-brand .logo {
    max-height: 70px;
    width: auto;
  }

  .nav-item {
    margin-right: 1rem;
  }
}
