.navbar {
  background-color: #F0F4F1;
  box-shadow: 0px 8px 16px #287a26;

  .nav-link {
    color: #287a26;
    font-family: "Alegreya", serif;

    &:hover {
      color: darken(#287a26, 10%);
    }
  }

  .navbar-brand .logo {
    max-height: 70px;
    width: auto;
  }

  .nav-item {
    margin-right: 1rem;
  }
}
