.wrap {
  background-color: var(--bg, #fcf8f4);
  display: flex;
  flex-direction: column;

  .appointment-card {
    background: linear-gradient(270deg, #007d6e 0%, #5eb47c 100%);
    width: 50%;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .appointment-item {
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  .appointment-list {
    width: 100%;
  }

  // .card-body {
  //   padding: 16px;
  // }

  // .card-footer {
  //   padding: 12px 16px;
  //   background-color: #ffffff;
  //   border-top: 1px solid #dee2e6;
  //   border-bottom-left-radius: 8px;
  //   border-bottom-right-radius: 8px;
  //   background: linear-gradient(270deg, #007d6e 0%, #5eb47c 100%);
  // }

  .card-footer .btn {
    font-size: 14px;
    padding: 4px 12px;
  }

  .button-group {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  .button-group .btn {
    padding: 10px 15px;
    border-radius: 5px;
    margin-left: 5px;
    text-decoration: none;
    color: white;
  }

  // .carousel-item {
  //   text-align: center;
  //   padding: 20px;
  //   margin-bottom: 150px;
  //   margin-top: 200px;
  // }

  // .carousel-inner{
  //   margin-top: -200px;
  // }

  // .row {
  //   margin-top: 150px;
  // }
  // .card {
  //   max-width: 300px;
  //   margin: 0 auto;
  //   border-radius: 10px;
  //   overflow: hidden;
  //   box-shadow: 0 0 10px rgba(0,0,0,0.1);
  // }
  // .card-img-top {
  //   height: 300px;
  //   object-fit: cover;
  // }
  // .card-body {
  //   padding: 20px;
  // }
  // .card-title {
  //   font-size: 20px;
  //   font-weight: bold;
  // }
  // .card-text {
  //   font-size: 16px;
  //   line-height: 1.5;
  // }

  .wrap-2 {
    background: linear-gradient(270deg, #007d6e 0%, #5eb47c 100%);
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 80px 60px;
  }
  @media (max-width: 991px) {
    .wrap-2 {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .wrap-3 {
    display: flex;
    margin-bottom: 37px;
    width: 100%;
    max-width: 1598px;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .wrap-3 {
      max-width: 100%;
    }
  }
  .wrap-4 {
    align-self: center;
    display: flex;
    margin-top: 78px;
    width: 100%;
    max-width: 1411px;
    align-items: start;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .wrap-4 {
      max-width: 100%;
      flex-wrap: wrap;
      margin-top: 40px;
    }
  }
  .wrap-5 {
    background-color: var(--txt, #fff);
    margin-top: 8px;
    width: 5px;
    height: 328px;
  }
  .wrap-6 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
    width: fit-content;
  }
  @media (max-width: 991px) {
    .wrap-6 {
      max-width: 100%;
    }
  }
  .wrap-7 {
    color: var(--txt, #fff);
    font: 800 68px Manrope, sans-serif;
  }
  @media (max-width: 991px) {
    .wrap-7 {
      max-width: 100%;
      font-size: 40px;
    }
  }
  .wrap-8 {
    color: #000;
    margin-top: 65px;
    font: 700 30px Manrope, sans-serif;
  }
  @media (max-width: 991px) {
    .wrap-8 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .wrap-9 {
    align-self: center;
    display: flex;
    margin-top: 274px;
    width: 100%;
    max-width: 1683px;
    flex-direction: column;
    padding: 0 20px;
  }
  @media (max-width: 991px) {
    .wrap-9 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .wrap-10 {
    align-self: auto;
  }
  @media (max-width: 991px) {
    .wrap-10 {
      max-width: 100%;
    }
  }
  .wrap-11 {
    gap: 200px;
    display: flex;
    align-items: center;
    margin-right: 200px;
    font-size: 25px;
    margin-top: -90px;
  }
  @media (max-width: 991px) {
    .wrap-11 {
      flex-direction: row;
      align-items: flex-start;
      gap: 40px;
    }
  }
  .colum {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
    margin-left: 90px;
  }
  @media (max-width: 991px) {
    .colum {
      width: auto;
    }
  }
  .imga-1 {
    height: auto;
    max-width: 100%;
    object-fit: cover;
  }
  @media (max-width: 991px) {
    .imga {
      height: auto;
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .colum-2 {
    width: 100%;
    text-align: left;
    color: #000;
    font-family: 400 50px Poppins, sans-serif;
  }
  @media (max-width: 991px) {
    .colum-2 {
      width: auto;
    }
  }
  .wrap-12 {
    color: #000;
    font-family: Poppins, sans-serif;
  }

  .wrap-12 p {
    margin: 10px 0;
  }

  @media (max-width: 991px) {
    .wrap-12 {
      padding: 10px;
      font-size: 16px;
      line-height: 1.6;
    }
  }
  .wrap-13 {
    color: #000;
    text-align: center;
    align-self: center;
    margin-top: 150px;
    font: 700 80px Manrope, sans-serif;
  }
  @media (max-width: 991px) {
    .wrap-13 {
      max-width: 100%;
      margin-top: 40px;
      font-size: 40px;
    }
  }
  .wrap-14 {
    margin-top: 171px;
  }
  @media (max-width: 991px) {
    .wrap-14 {
      max-width: 100%;
      padding-right: 20px;
      margin-top: 40px;
    }
  }
  .wrap-15 {
    display: flex;
    margin-top: -70px;
  }
  @media (max-width: 991px) {
    .wrap-15 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .colum-3 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .colum-3 {
      width: 100%;
    }
  }
  .wrap-16 {
    border-radius: 30px;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    color: #000;
    font-weight: 400;
    margin: auto 0;
    padding: 66px 54px 33px;
  }
  @media (max-width: 991px) {
    .wrap-16 {
      max-width: 100%;
      margin-top: 40px;
      padding: 0 20px;
    }
  }
  .imga-2 {
    aspect-ratio: 2.27;
    object-fit: auto;
    object-position: center;
    width: 295px;
    align-self: center;
    max-width: 100%;
  }
  .wrap-17 {
    text-align: center;
    align-self: center;
    margin-top: 28px;
    font: 700 28px Manrope, sans-serif;
  }
  .wrap-18 {
    margin: 20px 14px 0;
    font: 18px Poppins, sans-serif;
  }
  @media (max-width: 991px) {
    .wrap-18 {
      margin: 0 10px;
    }
  }
  .wrap-19 {
    display: flex;
    margin-top: 63px;
    gap: 20px;
    font-size: 10px;
    color: #eff0f1;
    white-space: nowrap;
    justify-content: space-between;
  }
  @media (max-width: 991px) {
    .wrap-19 {
      padding-right: 20px;
      margin-top: 40px;
      white-space: initial;
    }
  }
  .wrap-20 {
    font-family: Poppins, sans-serif;
    align-items: start;
    border-radius: 30px;
    background-color: #ec744a;
    justify-content: center;
    padding: 7px 23px;
  }

  .btn-wrap {
    font-family: Poppins, sans-serif;
    align-items: start;
    color: white;
    border-radius: 30px;
    background-color: #ec744a;
    justify-content: center;
    padding: 7px 23px;
    text-decoration: none;
  }
  @media (max-width: 991px) {
    .wrap-20 {
      white-space: initial;
      padding: 0 20px;
    }
  }
  .wrap-21 {
    font-family: Poppins, sans-serif;
    border-radius: 30px;
    background-color: #ec744a;
    justify-content: center;
    padding: 8px 19px;
  }
  @media (max-width: 991px) {
    .wrap-21 {
      white-space: initial;
    }
  }
  .colum-4 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
  }
  @media (max-width: 991px) {
    .colum-4 {
      width: 100%;
    }
  }
  .wrap-22 {
    border-radius: 30px;
    background: linear-gradient(270deg, #007d6e 0%, #5eb47c 100%);
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    color: var(--txt, #fff);
    font-weight: 400;
    width: 100%;
    padding: 32px 80px;
  }
  @media (max-width: 991px) {
    .wrap-22 {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .imga-3 {
    aspect-ratio: 1.05;
    object-fit: auto;
    object-position: center;
    width: 330px;
    max-width: 100%;
  }
  .wrap-23 {
    text-align: center;
    margin-top: 63px;
    font: 700 35px Manrope, sans-serif;
  }
  @media (max-width: 991px) {
    .wrap-23 {
      margin-top: 40px;
    }
  }
  .wrap-24 {
    text-align: center;
    margin-top: 20px;
    font: 18px Poppins, sans-serif;
  }
  .wrap-25 {
    align-self: stretch;
    display: flex;
    margin-top: 8px;
    align-items: start;
    gap: 20px;
    font-size: 10px;
    color: #eff0f1;
    white-space: nowrap;
    justify-content: space-between;
  }
  @media (max-width: 991px) {
    .wrap-25 {
      max-width: 100%;
      flex-wrap: wrap;
      padding-right: 20px;
      white-space: initial;
    }
  }
  .wrap-26 {
    font-family: Poppins, sans-serif;
    align-items: start;
    border-radius: 30px;
    background-color: #ec744a;
    margin-top: 5px;
    justify-content: center;
    padding: 7px 23px;
  }
  @media (max-width: 991px) {
    .wrap-26 {
      white-space: initial;
      padding: 0 20px;
    }
  }
  .wrap-27 {
    font-family: Poppins, sans-serif;
    border-radius: 30px;
    background-color: #ec744a;
    justify-content: center;
    padding: 8px 20px;
  }
  @media (max-width: 991px) {
    .wrap-27 {
      white-space: initial;
    }
  }
  .colum-5 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
  }
  @media (max-width: 991px) {
    .colum-5 {
      width: 100%;
    }
  }
  .wrap-28 {
    border-radius: 0px 30px 30px 0px;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    color: #000;
    font-weight: 400;
    margin: auto 0;
    padding: 68px 59px 34px;
  }
  @media (max-width: 991px) {
    .wrap-28 {
      max-width: 100%;
      margin-top: 40px;
      padding: 0 20px;
    }
  }
  .imga-4 {
    aspect-ratio: 2.44;
    object-fit: auto;
    object-position: center;
    width: 100%;
    margin: 0 29px 0 30px;
  }
  @media (max-width: 991px) {
    .imga-4 {
      margin: 0 10px;
    }
  }
  .wrap-29 {
    text-align: center;
    align-self: end;
    margin: 24px 35px 0 0;
    font: 700 28px Manrope, sans-serif;
  }
  @media (max-width: 991px) {
    .wrap-29 {
      margin-right: 10px;
    }
  }
  .wrap-30 {
    align-self: start;
    margin: 20px 0 0 18px;
    font: 18px Poppins, sans-serif;
  }
  @media (max-width: 991px) {
    .wrap-30 {
      margin-left: 10px;
    }
  }
  .wrap-31 {
    display: flex;
    margin-top: 60px;
    align-items: start;
    gap: 20px;
    font-size: 10px;
    color: #eff0f1;
    white-space: nowrap;
    justify-content: space-between;
  }
  @media (max-width: 991px) {
    .wrap-31 {
      padding-right: 20px;
      margin-top: 40px;
      white-space: initial;
    }
  }
  .wrap-32 {
    font-family: Poppins, sans-serif;
    align-items: start;
    border-radius: 30px;
    background-color: #ec744a;
    justify-content: center;
    padding: 7px 24px;
  }
  @media (max-width: 991px) {
    .wrap-32 {
      white-space: initial;
      padding: 0 20px;
    }
  }
  .wrap-33 {
    font-family: Poppins, sans-serif;
    align-items: start;
    border-radius: 30px;
    background-color: #ec744a;
    justify-content: center;
    padding: 8px 21px;
  }
  @media (max-width: 991px) {
    .wrap-33 {
      padding-left: 20px;
      white-space: initial;
    }
  }
  .wrap-34 {
    align-items: center;
    border-radius: 30px;
    background-color: #ec744a;
    align-self: center;
    margin-top: 100px;
    width: 1000px;
    max-width: 100%;
    color: #fff;
    text-align: center;
    justify-content: center;
    padding: 15px 60px 15px 50px;
    font: 400 60px Poppins, sans-serif;
  }
  @media (max-width: 991px) {
    .wrap-34 {
      max-width: 100%;
      font-size: 40px;
      margin-top: 40px;
      padding: 0 20px;
    }
  }
  .wrap-35 {
    background: linear-gradient(270deg, #007d6e 0%, #5eb47c 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 54px;
    font-weight: 700;
    color: var(--txt, #fff);
    padding: 80px 60px;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin-top: 100px;
  }

  @media (max-width: 991px) {
    .wrap-35 {
      font-size: 40px;
      margin-top: 40px;
      padding: 60px 30px;
    }
  }

  .wrap-36 {
    display: flex;
    width: 100%;
    max-width: 1566px;
    flex-direction: column;
    margin: 84px 0 52px;
  }
  @media (max-width: 991px) {
    .wrap-36 {
      max-width: 100%;
      font-size: 40px;
      margin: 40px 0;
    }
  }
  .imga-5 {
    aspect-ratio: 1.14;
    object-fit: auto;
    object-position: center;
    width: 92px;
    fill: rgba(255, 255, 255, 0.2);
  }
  .wrap-37 {
    align-self: center;
    display: flex;
    margin-top: 18px;
    width: 100%;
    max-width: 1411px;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .wrap-37 {
      max-width: 100%;
      font-size: 40px;
    }
  }
  .wrap-38 {
    font-family: Manrope, sans-serif;
  }
  @media (max-width: 991px) {
    .wrap-38 {
      max-width: 100%;
      font-size: 40px;
    }
  }
  .imga-6 {
    aspect-ratio: 1.14;
    object-fit: auto;
    object-position: center;
    width: 92px;
    fill: rgba(255, 255, 255, 0.2);
    align-self: end;
  }
  .wrap-39 {
    color: #000;
    text-align: center;
    align-self: center;
    margin-top: 150px;
    font: 700 80px Manrope, sans-serif;
  }
  @media (max-width: 991px) {
    .wrap-39 {
      max-width: 100%;
      margin-top: 40px;
      font-size: 40px;
    }
  }
  .wrap-40 {
    align-self: center;
    margin-top: 169px;
    width: 100%;
    max-width: 1598px;
    padding: 0 20px;
  }
  @media (max-width: 991px) {
    .wrap-40 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .wrap-41 {
    display: flex;
    margin-top: -90px;
  }
  @media (max-width: 991px) {
    .wrap-41 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .colum-6 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
    margin-bottom: 67px;
  }
  @media (max-width: 991px) {
    .colum-6 {
      width: 100%;
    }
  }
  .wrap-42 {
    border-radius: 30px 0px 0px 30px;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    color: #000;
    font-weight: 400;
    margin: auto 0;
    padding: 66px 54px 33px;
  }
  @media (max-width: 991px) {
    .wrap-42 {
      padding-right: 20px;
      margin-top: 40px;
      white-space: initial;
    }
  }
  .imga-7 {
    aspect-ratio: 1.06;
    object-fit: auto;
    object-position: center;
    width: 240px;
    align-self: center;
    max-width: 100%;
  }
  .wrap-43 {
    font-family: Poppins, sans-serif;
    align-self: start;
    margin: 46px 0 0 19px;
  }
  @media (max-width: 991px) {
    .wrap-43 {
      margin: 40px 0 0 10px;
    }
  }
  .colum-7 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
  }
  @media (max-width: 991px) {
    .colum-7 {
      width: 100%;
    }
  }
  .wrap-44 {
    border-radius: 30px;
    background: linear-gradient(270deg, #007d6e 0%, #5eb47c 100%);
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    color: #000;
    font-weight: 400;
    text-align: center;
    width: 100%;
    padding: 30px 60px 80px;
    margin-bottom: 90px;
  }
  @media (max-width: 991px) {
    .wrap-44 {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .wrap-45 {
    display: flex;
    width: 354px;
    max-width: 100%;
    flex-direction: column;
  }
  .imga-8 {
    aspect-ratio: 1.05;
    object-fit: auto;
    object-position: center;
    width: 330px;
    max-width: 100%;
  }
  .wrap-46 {
    font-family: Poppins, sans-serif;
    margin-top: 102px;
  }
  @media (max-width: 991px) {
    .wrap-46 {
      margin-top: 40px;
    }
  }
  .colum-8 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
  }
  @media (max-width: 991px) {
    .colum-8 {
      width: 100%;
    }
  }
  .wrap-47 {
    border-radius: 0px 30px 30px 0px;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 1px;
    display: flex;
    margin-top: 84px;
    flex-direction: column;
    font-size: 18px;
    color: #000;
    font-weight: 400;
    padding: 51px 80px;
    max-width: 600px;
  }
  @media (max-width: 991px) {
    .wrap-47 {
      max-width: 100%;
      margin-top: 40px;
      padding: 0 20px;
    }
  }
  .imga-9 {
    aspect-ratio: 1.06;
    object-fit: auto;
    object-position: center;
    width: 240px;
    align-self: center;
    max-width: 100%;
  }
  .wrap-48 {
    font-family: Poppins, sans-serif;
    align-self: start;
    margin: 46px 0 0 12px;
  }
  @media (max-width: 991px) {
    .wrap-48 {
      margin: 40px 0 0 10px;
    }
  }
}
